body {
	margin: 0;
	padding: 0;
}

.mainmenu-area {
	padding: 12px 140px 12px 12px;
	z-index: 1040;
}

.mainmenu-area ul.nav.navbar-nav li a.active,
.mainmenu-area ul.nav.navbar-nav li a:hover {
	border-bottom-color: white;
	color: white;
}

.mainmenu-area .navbar-collapse {
	justify-content: center;
}
.mainmenu-area .navbar-brand img:hover {
	transform: scale(1.1);
}

.radial-bg {
	background: #6e59b7;
	background: radial-gradient(circle, #a496d0 0%, #735eb8 84%, #6e59b7 100%);
}

.preloader {
	display: flex;
	align-items: center;
	justify-content: center;
}

.preloader svg {
	animation: rotate 2s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}
.preloader svg g {
	fill: #dff473;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

header {
	height: 100vh;
	position: relative;
	overflow: hidden;
}
header section {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.headings {
	display: flex;
	align-items: center;
}

.headings h1 {
	font-size: 64px;
	font-weight: bold;
}

.headings h2 {
	font-size: 48px;
	font-family: Poppins, sans-serif;
	color: hsl(254, 39%, 25%);
	margin: 24px 0 32px;
}

.headings .bttn-white:hover {
	transform: scale(1.1);
}

.headings a ~ a {
	margin-left: 1rem;
}

.parallax {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: #6e59b7;
	background: linear-gradient(
		145deg,
		#d9d4ec 0%,
		#aa9dd4 10%,
		#816dc1 25%,
		#735eb8 50%,
		#6e59b7 100%
	);
	z-index: -1;
}

.light {
	height: 100vh;
	width: 50px;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(
		90deg,
		transparent,
		rgba(255, 255, 255, 0.1),
		transparent
	);
	animation: scan 5s ease-in-out infinite;
	opacity: 0.3;
}
@keyframes scan {
	0%,
	100% {
		left: 0;
	}
	50% {
		left: 100%;
		width: 70px;
		transform: translateX(-100%);
	}
}

.parallax ul {
	padding: 0;
	margin: 0;
}

.virus {
	background-image: url('../images/virus.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 550px;
	height: 550px;
	opacity: 0.1;
	transition: 1s;
}

header .device-wrapper {
	max-width: 380px;
	width: 100%;
	margin: 0 auto;
}
.device::after {
	z-index: 2;
}
.device::before {
	border-radius: 68px;
	content: '';
	position: absolute;
	z-index: 1;
	width: calc(100% - 6px);
	margin: 0 3px;
	height: 100%;
	box-shadow: 0 14px 20px 1px rgba(0, 0, 0, 0.4);
	transition: 0.3s;
}

.device:hover::before {
	box-shadow: 0 24px 40px 1px rgba(0, 0, 0, 0.5);
}

h1 {
	font-size: 90px;
	color: white;
	margin: 0;
}

.p-1 {
	width: 256px;
	height: 256px;
	opacity: 0.07;
	animation: life-1 5s infinite ease-in-out;
}
@keyframes life-1 {
	0% {
		transform: translate(30vw, 40vh);
	}
	50% {
		transform: translate(33vw, 43vh) scale(1.1) rotate(2deg);
	}
	100% {
		transform: translate(30vw, 40vh);
	}
}

.p-2 {
	opacity: 0.2;
	animation: life-2 5.4s infinite ease-in-out;
}
@keyframes life-2 {
	0% {
		transform: translate(-10vw, -5vh);
	}
	50% {
		transform: translate(-13vw, -8vh) scale(1.1) rotate(-5deg);
	}
	100% {
		transform: translate(-10vw, -5vh);
	}
}

.p-3 {
	width: 400px;
	height: 400px;
	animation: life-3 8s infinite ease-in-out;
}
@keyframes life-3 {
	0% {
		transform: translate(-4vw, 70vh) rotate(75deg);
	}
	50% {
		transform: translate(0vw, 74vh) scale(1.2) rotate(78deg);
	}
	100% {
		transform: translate(-4vw, 70vh) rotate(75deg);
	}
}

.p-4 {
	opacity: 0.06;
	width: 620px;
	height: 620px;
	animation: life-4 8s infinite ease-in-out;
}
@keyframes life-4 {
	0% {
		transform: translate(35vw, -40vh);
	}
	50% {
		transform: translate(35vw, -39vh) scale(0.8) rotate(3deg);
	}
	100% {
		transform: translate(35vw, -40vh);
	}
}

.p-5 {
	animation: life-5 5s infinite ease-in-out;
}
@keyframes life-5 {
	0% {
		transform: translate(80vw, 30vh);
	}
	50% {
		transform: translate(78vw, 34vh) scale(1.2) rotate(-3deg);
	}
	100% {
		transform: translate(80vw, 30vh);
	}
}

.p-6 {
	width: 128px;
	height: 128px;
	animation: life-6 3.6s infinite ease-in-out;
}
@keyframes life-6 {
	0% {
		transform: translate(90vw, 30vh) rotate(200deg);
	}
	50% {
		transform: translate(78vw, 34vh) scale(0.9) rotate(197deg);
	}
	100% {
		transform: translate(90vw, 30vh) rotate(200deg);
	}
}

.p-7 {
	opacity: 0.06;
	width: 700px;
	height: 700px;
	animation: life-7 8s infinite ease-in-out;
}
@keyframes life-7 {
	0% {
		transform: translate(70vw, -40vh) rotate(45deg);
	}
	50% {
		transform: translate(72vw, -39vh) scale(1.2) rotate(47deg);
	}
	100% {
		transform: translate(70vw, -40vh) rotate(45deg);
	}
}

.p-8 {
	opacity: 0.07;
	width: 400px;
	height: 400px;
	animation: life-8 6s infinite ease-in-out;
}
@keyframes life-8 {
	0% {
		transform: translate(40vw, 50vh) rotate(-200deg);
	}
	50% {
		transform: translate(38vw, 52vh) scale(0.7) rotate(-202deg);
	}
	100% {
		transform: translate(40vw, 50vh) rotate(-200deg);
	}
}

.about-section {
	overflow: hidden;
}

.about-logo {
	margin: 1.5rem auto 2rem;
	width: 180px;
	display: block;
}

.about-text {
	margin-bottom: 5rem;
}

.about-item img {
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
	display: block;
}
.about-item .item-text {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.maps {
	background-image: url('../new/images/maps_brasil.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	margin: -8.8rem 0 0;
	padding: 20vh 0 15vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.maps h3 > span {
	/* display: block;
	margin: 1rem 0; */
	font-weight: bold;
	color: #6e59b7;
}

.partners {
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}
.partner {
	width: 100px;
	height: 100px;
	margin: 2rem 2rem 0;
	border-radius: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	transition: 0.2s;
}

.partner img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 100%;
}

.partner:hover {
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
	transform: translateY(-4px);
}

.phone-quiz {
	margin: 4rem 0 -16rem;
}

.download {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 4rem 0;
	color: #fff;
}
.download h3 {
	margin: 0;
}

.contact {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.mamba-marquee {
	position: relative;
	color: #1b222c;
	font-weight: bold;
}
.mamba-marquee:hover {
	border-radius: 45px;
	animation: bounceMamba 1.5s infinite;
}
@keyframes bounceMamba {
	0%,
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
		box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
	}
}
.mamba-marquee img {
	transition: 0.5s;
}
.mamba-marquee:hover img {
	border-radius: 25px;
}

.mamba-marquee marquee {
	position: absolute;
}
.mamba-marquee marquee.first {
	top: 12px;
}
.mamba-marquee marquee.last {
	bottom: 12px;
}

.social-links {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.social-links p a i {
	margin-right: 2rem;
}

footer {
	padding: 1.5rem 0;
	background-color: #7f72cd;
	color: #fff;
}

footer .container {
	display: flex;
	justify-content: space-between;
}

footer a {
	color: #fff;
}
footer a:hover {
	color: #382c7d;
}
footer a:focus {
	color: #ffffff;
}
#scrollUp {
	right: 16px;
	bottom: 16px;
	width: 48px;
	height: 48px;
	line-height: 48px;
}

.scroll-top {
	border-radius: 16px;
	background: transparent;
	transition: 0.4s;
}

.scroll-top path {
	fill: #382c7d;
}

.scroll-top:hover {
	background: #6e59b7;
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.4);
}
.scroll-top:hover path {
	fill: #fff;
}

.pdf {
	height: 80vh;
}
/* Medias */
@media (max-width: 991px) {
	.mainmenu-area {
		padding: 16px;
	}
	.download {
		flex-direction: column;
	}
	.download h3 {
		margin-bottom: 2rem;
	}
}
@media (max-width: 767px) {
	header {
		height: 125vh;
	}
	.headings {
		z-index: 2;
	}
	.headings > div {
		border-radius: 16px;
		text-align: center;
	}
	.phone-carousel-column {
		margin-top: 2rem;
		margin-bottom: -33rem;
	}
	.feature-area .mobile-image {
		margin-bottom: 0;
	}
	.social-links {
		margin-top: 2rem;
		text-align: center;
	}

	.social-links {
		display: flex;
	}
	.social-links p {
		flex: 1 1 50%;
	}

	.social-links a {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.social-links p a i {
		margin: 0 0 1rem;
	}
}
@media (max-width: 576px) {
	.headings h1 {
		font-size: 42px;
	}
	.headings h2 {
		font-size: 36px;
	}
	.headings .bttn-white {
		padding: 8px 18px;
		font-size: 12px;
		margin: 0;
		margin-top: 1rem;
	}
	.headings a ~ a {
		margin-left: 10px !important;
	}
	.about-item:nth-of-type(2) {
		flex-wrap: wrap-reverse;
	}
	.section-padding {
		padding: 60px 0;
	}
	.phone-quiz {
		margin-bottom: -13rem;
	}
	.questions-area {
		padding-top: 100px;
	}
	.toggole-boxs h3:first-child {
		margin-top: 32px;
	}
	.maps {
		padding: 16vh 16px 12vh;
	}
}
